@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --gold-color: #d1aa67;
}

body {
  font-family: 'Poppins', sans-serif;
}

.d-flex {
  display: flex;
  gap: 17px;
  justify-content: center;
}

.flag-select {
  width: 100px;
}

.addressFelx {
  display: flex;
  width: 100%;
}

.addressChild1 {
  width: 50%;
}

.addressChild2 {
  width: 50%;
}

.selectForm-parent {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    300deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 252, 131, 1) 100%
  );
}

.selectForm-child p {
  font-size: 20px;
  text-align: left;
  color: aliceblue;
  padding-left: 23px;
  letter-spacing: 0.6px;
}

.selectForm-child h1 {
  text-align: left;
  color: aliceblue;
  font-size: 55px;
  padding-left: 23px;
  letter-spacing: 0.6px;
}

.selectForm-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-block: 20px;
}

.selectForm-flex a {
  border: 2px solid #fff;
  padding: 10px 20px;
  width: 31%;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-inline: 10px;
  margin-block: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.selectForm-flex a:hover {
  color: #fff;
  transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 9px 0px rgba(255, 255, 255, 0.75);
  border: 2px solid transparent;
}

.form-parent {
  border: 2px solid aliceblue;
  /* width: 80%; */
  margin-inline: auto;
  /* margin-block: 100px; */
  border-radius: 30px;
  padding: 36px 40px;
}

.form-h1 {
  text-align: center;
  margin-bottom: 20px;
  color: aliceblue;
  letter-spacing: 1.6px;
  font-size: 35px;
}

.form-p {
  margin-bottom: 40px;
  color: aliceblue;
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.6px;
  text-align: center;
}

.mb-3 {
  margin-bottom: 10px !important;
}

.input-p {
  color: honeydew;
  font-size: 13px;
  margin-bottom: 8px;
  padding-top: 7px;
  margin-left: 10px;
}

.outer-div {
  background: linear-gradient(
    300deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 252, 131, 1) 100%
  );
  padding-block: 75px;
}

input#exampleForm\.ControlInput1 {
  height: 48px;
  border: 2px solid aliceblue;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 8px;
  width: 300px;
  color: aliceblue;
  font-size: 16px;
}

.mobile-flex-div-child {
  display: flex;
}

.form-parent label {
  color: aliceblue;
  letter-spacing: 0.6px;
}

.input-flex {
  display: flex;
  justify-content: space-between;
}

select#exampleForm\.ControlInput1 {
  height: 50px;
  border: 2px solid aliceblue;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 8px;
  width: 67px;
  color: aliceblue;
  font-size: 16px;
}

.d-flex input {
  width: 224px !important;
}

.name-div {
  width: fit-content;
  margin-inline: auto;
  margin-block: 26px;
}

.input-flex select#exampleForm\.ControlInput1 {
  width: 300px;
}

.mobile-flex-div select#exampleForm\.ControlInput1 {
  width: 92px;
  margin-right: 8px;
  height: 48px;
  margin-top: 8px;
}

.mobile-flex-div {
  margin-block: 26px;
}

.mobile-flex-div input#exampleForm\.ControlInput1 {
  width: 199px;
}

p.form-p.form-sub-p {
  margin-top: 40px;
}

.address-flex {
  justify-content: space-between;
}

.address-div {
  margin-block: 40px;
}

form {
  width: fit-content;
  margin-inline: auto;
}

.form-parent form button {
  width: 202px;
  height: 50px;
  border: 2px solid #fff;
  color: aliceblue;
  font-size: 19px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

input {
  outline: none !important;
}

select {
  outline: none !important;
}

.form-parent form button:hover {
  /* background-color: rgba(70, 252, 131, 1); */
  background-color: darkorange;
}

p.sub-p {
  width: 80%;
  margin-inline: auto;
  color: aliceblue;
  font-size: 13px;
  margin-bottom: 19px;
  line-height: 20px;
  text-align: center;
}

.complaint-input input {
  width: 300px !important;
}

.textarea-div label.form-label {
  font-size: 14px;
  /* text-align: center; */
  /* margin-bottom: 4px
px
; */
  /* text-align: center !important; */
}

.textarea-div h5 {
  font-weight: 500;
  color: aliceblue;
  font-size: 20px;
  letter-spacing: 0.6px;
  margin-bottom: 8px;
  text-align: center;
}

.h5 {
  font-weight: 500;
  color: aliceblue;
  font-size: 20px;
  letter-spacing: 0.6px;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 30px;
}

textarea#exampleForm\.ControlInput1 {
  width: 98%;
  height: 130px;
  padding: 10px 10px;
  border: 2px solid aliceblue;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: aliceblue;
  font-size: 16px;
  outline: none;
}

.textarea-div {
  margin-block: 40px;
}

.complainet-p {
  font-size: 14px;
  color: aliceblue;
  letter-spacing: 0.6px;
}

.check input {
  width: 19px !important;
  margin-top: 0 !important;
  margin-right: 11px;
}

.check input#exampleForm\.ControlInput1 {
  height: fit-content;
}

label.office-use.form-label {
  font-size: 16px;
}

.name-div.complaint-input {
  margin-inline: 0;
}

.reqForm-parent {
  width: 60%;
}

.course-code-flex {
  margin-top: 30px;
}

.date {
  margin-bottom: 30px !important;
}

.change-name {
  margin-block: 20px;
}

.change-div {
  margin-block: 20px;
}

.select-country {
  width: 300px !important;
}

.creditTransfer form {
  width: 76%;
}

.flex-width {
  margin-inline: auto;
  /* width: 85%; */
  width: 100%;
}

.refund-req form {
  width: 77%;
}

table {
  width: 100%;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border: 2px solid #fff;
  padding: 5px;
  color: #fff;
}

td input#exampleForm\.ControlInput1 {
  border: none;
}

.gte-name-align{
  justify-content: flex-start;
}

.dob-input {
  width: 299px !important;
}

.dob-mar {
  margin-bottom: 40px !important;
}

.guZdik {
  max-width: 100% !important;
  height: 150px !important;
  margin-top: 15px;
  border: 2px dashed #fff !important;
}

.jWkLDY > span {
  color: #fff !important;
}

.radio-input {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.radio-input input {
  width: 20px !important;
  height: 20px !important;
  margin-top: 0 !important;
  margin-right: 5px !important;
}

.btn-mar-top {
  margin-top: 25px !important;
}

.sub-p-marg {
  margin-bottom: 14px;
  margin-top: 30px !important;
}

/* Admin-Styles */

.login-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-parent form {
  border: 2px solid transparent;
  border-radius: 23px;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 12px 20px 6px rgb(104 112 118 / 0.08);
}

.login-parent form input {
  width: 300px;
  height: 45px;
  border-radius: 10px;
  padding: 5px 10px;
  margin-bottom: 15px;
  border: 1px solid var(--gold-color);
}

.login-parent form button {
  width: 300px;
  border-radius: 10px;
  height: 45px;
  background-color: transparent;
  color: var(--gold-color);
  border: 1px solid var(--gold-color);
  transition: 0.2s;
}

.login-parent form button:hover {
  background-color: var(--gold-color);
  color: #fff;
}

.flex-div {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-div {
  height: 100vh;
  overflow-y: scroll;
  width: 80%;
  padding-inline: 40px;
}

.select-form-admin-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0 !important;
}

.main-inside-div {
  padding-inline: 40px;
  padding-top: 46px;
  height: 93vh;
}

.admin-select-div {
  /* height: 100%; */
  display: flex;
  align-items: center;
  height: 500px;
}

.sideBar-parent {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 6px 0px 14px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 0px 14px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 0px 14px -3px rgba(0, 0, 0, 0.75);
}

.logo {
  width: 210px;
  margin-inline: auto;
  padding-top: 35px;
  border-bottom: 1px solid var(--gold-color);
  box-shadow: 0px 10px 13px -15px #111;
}

.logo img {
  width: 100%;
}

.logout-btn {
  background-color: #ffece6;
  color: #ff3d00;
  font-size: 15px;
  font-weight: 500;
  width: 210px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 10px;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
  cursor: pointer;
}

.sideBar-parent a {
  text-decoration: none;
  color: #000;
}

.sideBar-parent li {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: 0.3s;
  color: var(--gold-color);
}

.sideBar-parent li:hover {
  background: var(--gold-color);
  color: #fff;
  border-radius: 10px;
}

.sideBar-paren ul {
  margin-top: 20px;
}

li.active {
  background: var(--gold-color);
  color: #fff;
  border-radius: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBar-parent ul {
  margin-top: 20px;
  padding-left: 0;
}

.passwordInput {
  display: flex;
  align-items: center;
  border: 1px solid var(--gold-color);
  border-radius: 10px;
  width: 300px;
  padding-right: 5px;
}
.passwordInput input {
  border: none !important;
  height: 100%;
  margin-bottom: 0 !important;
}

i.fa-solid.fa-eye-slash,
i.fa-solid.fa-eye {
  color: var(--gold-color);
  padding-right: 10px;
}

.main-inside-div h1 {
  font-size: 39px;
  padding-left: 10px;
}

.main-inside-div h2 {
  padding-left: 10px;
}

.admin-select-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 10px; */
  /* margin-block: auto; */
}

.admin-select-flex a {
  border: 1px solid var(--gold-color);
  width: 303px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin-inline: 10px;
  margin-block: 10px;
  text-decoration: none;
  color: var(--gold-color);
  transition: 0.3s;
}

.admin-select-flex a:hover {
  color: #fff;
  background-color: var(--gold-color);
}

.main-div h1 {
  padding-left: 10px;
  font-weight: 600;
  color: var(--gold-color);
}

.login-parent h1 {
  color: #d1aa61;
}

.nextui-c-kNgzEX {
  background: var(--gold-color);
  color: #fff;
}

.nextui-c-cAbbLF {
  background: var(--gold-color);
}

.nextui-c-cAbbLF-gZGrDk-shadow-true {
  box-shadow: 0 4px 14px 0 var(--gold-color);
}

.heading {
  font-size: 36px;
  margin-bottom: 20px;
  /* padding-top: 53px; */
}

.headflex input {
  height: 40px;
  border: 2px solid var(--gold-color);
  border-radius: 10px;
  width: 300px;
  padding-inline: 10px;
}

.headflex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 53px;
}

.row-select-flex {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 10px;
}

.row-select-flex select {
  width: 50px;
  margin-left: 8px;
  border: 1px solid var(--gold-color);
  border-radius: 5px;
  padding-inline: 5px;
  height: 23px;
}

.row-select-flex p {
  color: var(--gold-color);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

td#react-aria6121942069-1-\.1\.15-\.0\.0,
td#react-aria6121942069-1-\.1\.2-\.0\.0 {
  color: var(--gold-color) !important;
}

tr.nextui-c-bUbfzy.nextui-c-gulvcB.nextui-table-row.sub-title {
  background-color: #f1f3f5;
  color: #7e868c;
}

.changeCred-btn {
  height: 40px;
  width: 220px;
  margin-block: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  color: red;
  box-shadow: 0 12px 20px 6px rgba(104, 112, 118, 0.08);
  background-color: #ffece6;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-inline: auto;
}

.changeCred-div {
  margin-inline: auto;
  width: 400px;
  padding: 20px 43px;
  border: 1px solid #f5f5f5;
  border-radius: 30px;
  box-shadow: 0 12px 20px 6px rgba(104, 112, 118, 0.08);
  opacity: 0;
  animation: fadeIn 0.2s ease-in-out both;
  animation-delay: 0s;
}

.changeCred-div-fade-out {
  margin-inline: auto;
  width: 400px;
  padding: 20px 43px;
  border: 1px solid #f5f5f5;
  border-radius: 30px;
  box-shadow: 0 12px 20px 6px rgba(104, 112, 118, 0.08);
  opacity: 0;
  animation: fadeOut 0.2s ease-in both;
  animation-delay: 0s;
}

.changeCred-div form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 2px solid #f5f5f5;
  border-radius: 10px;
}

.changeCred-div form button {
  width: 100%;
  border: 1px solid var(--gold-color);
  color: var(--gold-color);
  height: 40px;
  border-radius: 10px;
  margin-inline: auto;
  letter-spacing: 0.6px;
  font-weight: 600;
  background-color: transparent;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.mobile-flex-div-child .mobile-input {
  width: 199px !important;
}

.form-check-inline {
  display: flex;
  padding-bottom: 7px;
}

.form-check-input[type='checkbox'] {
  border-radius: 5px !important;
}

.check input#exampleForm\.ControlInput1 {
  height: 22px !important;
}

form.form-div {
  width: 80%;
}

.form-check-input[type='radio'] {
  border-radius: 500% !important;
  height: 23px !important;
}

.cancel-enrollment-form-div {
  width: 90%;
}

.contact-us-form {
  border: 2px solid #fff;
  border-radius: 20px;
  width: 60%;
  padding: 20px 40px;
}

.contact-us-form label {
  color: #fff;
}

.contact-us-form input {
  width: 100% !important;
}

.contact-us-form button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: 0.2s;
}

.contact-us-form button:hover {
  background-color: #fff;
  color: #000;
}

.contact-us-form textarea {
  width: 100% !important;
}

.form-control:focus {
  box-shadow: none !important;
}
.form-check-input:focus {
  box-shadow: none;
}

.contact-us-checkbox {
  display: flex;
  align-items: flex-end;
}

.contact-us-checkbox input[type='checkbox'] {
  width: 10px !important;
  height: 23px !important;
  margin-right: 5px;
}

.contact-us-checkbox-outer-div-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mandate {
  color: red;
}

.success {
  color: green;
  padding-block: 10px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
}

.failed {
  color: red;
  padding-block: 10px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.form-select:focus {
  outline: none;
  box-shadow: none;
}
